<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Creative Button Hover Collection</title>
  <style>
  * {
  padding:0;
margin: 0;
}
body {
  background-color: #42a5f5;
  text-align: center;
  font-family: "Roboto";
  color: #fff;
  letter-spacing:1px;
}

#type1 {
  margin-top: 20%;
  padding-bottom: 50px;
}

h1 {
  
  font-size: 50px;
  padding: 30px 0;
}

h3 {
  
  padding:30px 0 0 0;
}

h3 a {
  margin-left:5px;
  text-decoration: none;
  color: #fff;
  font-weight: light;
  border-bottom: 1px dotted;
  padding: 0 2px 3px 2px;
}

h3 a:hover {
  border-bottom:1px solid;
}


.btn-2 {
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  border: 1px solid #fff;
  cursor: pointer;
  letter-spacing: 2px;
  position:relative;
  overflow:hidden;
  margin: 0 20px;
}

.btn-2:before {
  content: "";
  position: absolute;
  height: 11px;
  width: 100%;
  background : #fff;
  left: 0;
  top: 0;
  transition: all .3s;
  opacity: 0.3;
}

.btn-2:hover:before {
  top: 77%;
}
  </style>

</head>
<body>
<!-- partial:index.partial.html -->
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<div id="type1">
<div class="btn-2">
  <%=uname%>, Click here to Checkout
</div>
</div>

  <script>
  
  </script>

</body>
</html>