<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Check Out</title>
  <style>html, body {
    background-color: #3498DB;
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: center;
        margin: 0;
        padding: 0;
        text-align: center;
        width: 100%;
      }
      
</style>

</head>
<body>

<p style="color: #fff;">S U C C E S S F U L L !!</p>

<script>window.setTimeout(function(){
        window.location.href = "/";

    }, 5000);
    </script>  
</body>

</html>